.create-post{
    width: 500px;
    margin: 10px auto;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}
.main-div{
    border-top: 1px solid rgb(173, 173, 173);
}
.post-header{
    display: flex;
}
.post-btn{
    border: none;
    color: #339ce3;
    background: none;
    cursor: pointer;
    font-weight: bolder;
}
.details{
    border-top: 1px solid rgb(173, 173, 173);
}
textarea{
    border: none;
    outline: none;
    width: 90%;
}